#Spring Profiles
SPRING_PROFILES_ACTIVE=prod

# Docker
CONTAINER_NAME=containerName
POSTGRES_HOST=171.23.0.210
POSTGRES_PORT=123
POSTGRES_PASSWORD=password
POSTGRES_DATA_DIR=C:/path/to/db_datadir

# Database
DB_NAME=db_name
DB_USER=user
DB_USER_PASSWORD=password

# JWT
JWT_SECRET=your_256_bit_jwt_secret
JWT_EXP=your_token_expiration_in_ms

# SUPER USER
ROOT_USERNAME=your_root_username
ROOT_PASS=your_root_password

# Frame Options
FRAME_OPTIONS=deny | sameOrigin | allow

# MAIL CONFIG
MAIL_HOST=protocol.domain.com
MAIL_PORT=8888
MAIL_USERNAME=your_username@gmail.com
# IMPORTANTE: Usar una "Contraseña de aplicación" generada desde tu cuenta de Google, NO clave normal
MAIL_PASSWORD=xxxx-xxxx-xxxx-xxxx
MAIL_SMTP_AUTH=true
MAIL_TLS_ENABLE=true
# Lista de correos separados por comas para alertas de errores de dispositivos
MAIL_ERRORS_LIST=correo1@mail.com,correo2@mail.com,correo3@mail.com